/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
:root {
    --main-background-color: #0e202e;
    --navbar-footer-color: #022d3c;
    --font-on-dark: white;
    --heading-color: #253240;
    --second-color: #0d3c59;
    --button-dark-color: #06213f;
    --quote-color: #732a47;
    --secondary-divider: #6c7268;
}

*{
    font-family: Syne, sans-serif;
}




/* main > .container {
    padding: 60px 15px 0;
  } */

.contact-us-bg{
    background-color: var(--second-color);
    color: var(--font-on-dark);
}



.quotes-bg-dark{
    color: var(--font-on-dark);
    background-color: var(--secondary-divider);
}

.hero-background{
    background-color: var(--second-color);
}

.text-on-dark{
    color: var(--font-on-dark) !important;
}

.container-pad{
    padding: 60px 15px 0;
}

/* main > .container-fluid {
    padding: 60px 15px 0;
  } */

.remove-all-margin{
    margin:0 !important;
}

.remove-all-padding{
    padding: 0 !important;
}

.nav-link-color{
    color:var(--font-on-dark) !important;
}

.nav-footer-color {
    color: var(--font-on-dark);
    background-color: var(--navbar-footer-color);
}

.nav-logo{
    height: 32px; width: 32px;
    border-radius: 50%;
}  

.navbar .navbar-collapse {
padding-left: 40px;
}

.navbar .navbar-dark{
    background-color: var(--navbar-footer-color);
}

.nav-logo-text{
    padding-left: 10px;
}

.padding-left-10{
    padding-left: 10px;
}

.padding-top-20{
    padding-top: 20px;
}

.page-heading{
    font-size: 36px;
    background-color: var(--heading-color); 
    color: var(--font-on-dark);
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.quotes-bg{
    background-color: var(--quote-color);
    color: var(--font-on-dark);
}

.navbar-hidden {
    visibility: hidden;
    transition: visibility 0.3s;
}

.fill-homepage{
    padding-bottom: 40.75%;
}

.about-us-pic{
    height: 400px; 
    width: 400px;
    border-radius: 5%;
}

.small-about-us-pic{
    height: 300px; 
    width: 300px;
    border-radius: 5%;
}
.pad-top-30{
    padding-top: 30px;
}

.pad-bottom-10{
    padding-bottom: 10px;
}

.body-bg-color{
    color: var(--font-on-dark);
    background-color: var(--main-background-color);
}

a:link
{
    color:var(--font-on-dark);
    text-decoration: none;
}

a:visited
{
    color:var(--font-on-dark);
    text-decoration: none;
}

a:hover 
{
    color:var(--font-on-dark);
    text-decoration: none;
}

a:active {
    color:var(--font-on-dark);
    text-decoration: none;
}
