/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
:root {
    --main-background-color: #0e202e;
    --navbar-footer-color: #022d3c;
    --font-on-dark: white;
    --heading-color: #253240;
    --button-color: #0d3c59;
    --quote-color: #732a47;
    --secondary-divider: #6c7268;
}


/* main > .container {
    padding: 60px 15px 0;
  } */

.container-pad{
    padding: 60px 15px 0;
}

/* main > .container-fluid {
    padding: 60px 15px 0;
  } */

.remove-all-margin{
    margin:0 !important;
}

.remove-all-padding{
    padding: 0 !important;
}

.nav-link-color{
    color:var(--font-on-dark) !important;
}

.nav-footer-color {
    color: var(--font-on-dark);
    background-color: var(--navbar-footer-color);
}

.nav-logo{
    height: 32px; width: 32px;
    border-radius: 50%;
}

.page-heading{
    background-color: var(--heading-color); 
    color: var(--font-on-dark);
}

.body-bg-color{
    color: var(--font-on-dark);
    background-color: var(--main-background-color);
}

a:link
{
    color:var(--font-on-dark);
    text-decoration: none;
}

a:visited
{
    color:var(--font-on-dark);
    text-decoration: none;
}

a:hover 
{
    color:var(--font-on-dark);
    text-decoration: none;
}

a:active {
    color:var(--font-on-dark);
    text-decoration: none;
}