{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
	<div class="row pad-top-30">
		<div class="col-md-3">
            <div class="text-center padding-top-20">
                <img class=" mx-auto about-us-pic" alt="Annoor Mustafi Picture" src="{% static '/img/am-1.png' %}" />
            </div>
		</div>
		<div class="col-md-9">
			<p>
				Hey, my name is Annoor Mustafi and I am currently studying Mathematics at the University of Cambridge. I have always had a passion for mathematics and computer science, and it is with great pride that I can say I have achieved three A*s in Computer Science, Further Mathematics, and Mathematics. Additionally, I have also excelled in the STEP II and STEP III exams, which further solidified my love for the subject.

Tutoring has always been a passion of mine and I find great joy in helping others succeed. I have experience in tutoring students of all levels and I pride myself on being able to explain complex mathematical concepts in a clear and concise manner. My patience and understanding make me an excellent teacher, and my students have consistently praised me for my ability to help them achieve their goals.

At Cambridge, I am actively involved in various student organizations and clubs. I am a member of the Mathematics Society and the Computer Science Society, where I participate in various events and activities that promote the study of mathematics and computer science.

In my free time, I enjoy reading and playing chess. I am also a passionate cook and enjoy experimenting with different cuisines. I am a dedicated student and teacher, and I am committed to helping others achieve their goals.
			</p>
		</div>
	</div>
	<div class="row pad-top-30 pad-bottom-10">
		<div class="col-md-9">
			<p>
				Hello, my name is Abdullah Muzahir and I am currently studying Computer Science at the University of Cambridge. I have always been fascinated by the power and potential of technology, and I am thrilled to be pursuing my passion for computer science at one of the world's most prestigious universities.

Coding has been a hobby of mine for many years and I enjoy experimenting with different programming languages and frameworks. I have experience in multiple programming languages such as C++, Python, Java, and JavaScript.

Additionally, I am also a dedicated and experienced tutor. I have a passion for teaching and I love to help others succeed in computer science. I am able to explain complex computer science concepts in a clear and concise manner, making them accessible to students of all levels. My patience and understanding make me an excellent teacher, and I have a proven track record of helping students achieve their goals.

At Cambridge, I am actively involved in various student organizations and clubs. I am a member of the Computer Science Society, where I participate in various events and activities that promote the study of computer science.

In my free time, I enjoy experimenting with new technologies and tinkering with different projects. I am also a huge fan of video games and enjoy playing games on my spare time.

As a student of Computer Science, I am always eager to learn and improve my skills. I am dedicated and hardworking, and I look forward to a future career in the field of computer science and tutoring.
			</p>
		</div>
		<div class="col-md-3">
            <div class="text-center padding-top-20">
			    <img  class="about-us-pic"  alt="Abdullah Muzahir Picture" src="{% static '/img/am-2.jpg' %}" />
            </div>
		</div>
	</div>
</div>

<!--Padding to bottom-->
<div style="padding-bottom: 27px;"></div>

{% endblock content %}

