{% extends 'base.html' %}

{% block content %}
<section class="pb-5 pt-5 text-center"> 
    <div class="container pb-4 pt-4"> 
        <h2 class="h6 mb-1 text-uppercase"></h2> 
        <h3 class="fw-bold h2 mb-3">Subject prices</h3> 
        <div class="align-items-center justify-content-center row"> 
            <div class="col-lg-4 col-md-6 py-3"> 
                <div class="bg-dark rounded shadow text-secondary"> 
                    <div class="align-items-center text-white d-flex fw-dark h5 justify-content-center pb-4 ps-3 pe-3 pt-4"> <span class="align-self-start currency">&pound;</span> <span class="display-4 fw-bold text-white">35</span> <span class="align-self-end term">/hour</span> 
                    </div>                     
                    <h4 class="bg-dark fw-bold h3 mb-0 pb-3 pe-2 ps-2 pt-3 text-uppercase text-white">GCSE</h4> 
                    <div class="pb-4 ps-3 pe-3 pt-4"> 
                        <ul class="list-unstyled mb-4">                                                                                                                                                  
</ul>                                                  
                    </div>                     
                </div>                 
            </div>             
            <div class="col-lg-4 col-md-6 py-3"> 
                <div class="bg-dark rounded shadow text-secondary"> 
                    <div class="align-items-center d-flex fw-dark h5 justify-content-center pb-4 ps-3 pe-3 pt-4"> <span class="align-self-start currency">&pound;</span> <span class="display-4 fw-bold text-white">45</span> <span class="align-self-end term">/hour</span> 
                    </div>                     
                    <h4 class="bg-dark fw-bold h3 mb-0 pb-3 pe-2 ps-2 pt-3 text-uppercase text-white">A Level</h4> 
                    <div class="pb-4 ps-3 pe-3 pt-4"> 
                        <ul class="list-unstyled mb-4">                                                                                                                                                  
</ul>                                                  
                    </div>                     
                </div>                 
            </div>             
            <div class="col-lg-4 col-md-6 py-3"> 
                <div class="bg-dark rounded shadow text-secondary"> 
                    <div class="align-items-center d-flex fw-light h5 justify-content-center pb-4 ps-3 pe-3 pt-4"> <span class="align-self-start currency">&pound;</span> <span class="display-4 fw-bold text-white">60</span> <span class="align-self-end term">/hour</span> 
                    </div>                     
                    <h4 class="bg-dark fw-bold h3 mb-0 pb-3 pe-2 ps-2 pt-3 text-uppercase text-white">STEP</h4> 
                    <div class="pb-4 ps-3 pe-3 pt-4"> 
                        <ul class="list-unstyled mb-4">                              
</ul>                                                  
                    </div>                     
                </div>                 
            </div>             
        </div>         
        <div class="form-check mb-3"> 
            <a href="/contacts">
                <button type="button" class="btn btn-primary">
                    Book your FREE CONSULTATION
                </button>
            </a> 
        </div>
    </div>     
</section>
{% endblock content %}

