{% extends 'base.html' %}

{% block content %}
<div class="container py-4 py-xl-5" style="margin-left: 30%;margin-right: auto; width: 60%;">
    <div class="row gy-5 row-cols-1 row-cols-md-2 row-cols-xl-3">
        <div class="col bg-dark" style="padding-bottom: 0px;padding:10px; margin-top: 100px;border-radius: 3%;">
            <i style="font-size: 50px; line-height: 50px; height: 30px; width: 30px;margin-left:10px" class="fa fa-quote-left"></i>
           <div class="p-4">
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima voluptate repudiandae et, ratione ea qui. Cum incidunt repellat optio vel, beatae illum, quisquam sed enim impedit aperiam aut, fuga dolorem?Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ullam excepturi sit reiciendis, est vitae quos similique hic aspernatur? Saepe excepturi eum, quasi minus, id eius aut, sint nisi possimus exercitationem sapiente blanditiis ipsa.
            <br>
            <br>
            <br>
           </p>
           <div class="d-flex">
                <div>
                    <p class="fw-bold mb-0">John Smith</p>
                    <p class="text-muted mb-0">Erat netus</p>
                </div>
           </div> 
           </div> 
        </div>
        <div class="col bg-dark" style="margin-left: 50px;padding:10px;border-radius:3%; margin-bottom: auto;">
            <div class="p-4">
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima voluptate repudiandae et, ratione ea qui. Cum incidunt repellat optio vel, beatae illum, quisquam sed enim impedit aperiam aut, fuga dolorem?Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ullam excepturi sit reiciendis, est vitae quos similique hic aspernatur? Saepe excepturi eum, quasi minus, id eius aut, sint nisi possimus exercitationem sapiente blanditiis ipsa.
                <br>
                <br>
                <br>
               </p>
               <div class="d-flex">
                    <div>
                        <p class="fw-bold mb-0">John Smith</p>
                        <p class="text-muted mb-0">Erat netus</p>
                    </div>
               </div> 
            </div> 
        </div>
    </div>

    <div class="row gy-5 row-cols-1 row-cols-md-2 row-cols-xl-3" style="margin-top:30px;">
        <div class="col bg-dark" style="padding-bottom: 0px;padding:10px; margin-top: 100px;border-radius: 3%;">
           <div class="p-4">
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima voluptate repudiandae et, ratione ea qui. Cum incidunt repellat optio vel, beatae illum, quisquam sed enim impedit aperiam aut, fuga dolorem?Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ullam excepturi sit reiciendis, est vitae quos similique hic aspernatur? Saepe excepturi eum, quasi minus, id eius aut, sint nisi possimus exercitationem sapiente blanditiis ipsa.
            <br>
            <br>
            <br>
           </p>
           <div class="d-flex">
                <div>
                    <p class="fw-bold mb-0">John Smith</p>
                    <p class="text-muted mb-0">Erat netus</p>
                </div>
           </div> 
           </div> 
        </div>
        <div class="col bg-dark" style="margin-left: 50px;padding:10px;border-radius:3%;margin-bottom:auto;">
            <div class="p-4">
             <p >
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima voluptate repudiandae et, ratione ea qui. Cum incidunt repellat optio vel, beatae illum, quisquam sed enim impedit aperiam aut, fuga dolorem?Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ullam excepturi sit reiciendis, est vitae quos similique hic aspernatur? Saepe excepturi eum, quasi minus, id eius aut, sint nisi possimus exercitationem sapiente blanditiis ipsa.
             <br>
             <br>
             <br>
            </p>
            <div class="d-flex">
                <div>
                    <p class="fw-bold mb-0">John Smith</p>
                    <p class="text-muted mb-0">Erat netus</p>
                </div>
            </div>
            </div> 
         </div>
    </div>
</div>
{% endblock content %}

